body {
    color: white;
    background: black;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
}
section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.chamada-texto {
    margin-right: 20px;
}
body {
  color: white;
  background: black;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
section {
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

/* código omitido */

section {
  padding-left: 20px;
  padding-right: 20px;
}
img {
  height: 200px;
}
.categoria-videos {
  display: flex;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}
img {
  height: 200px;
}
.categoria-videos {
  display: flex;
}section {
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

/* código omitido */

section {
  padding-left: 20px;
  padding-right: 20px;
}
/* código omitido */
.categoria-videos img {
  opacity: 0.5;
  height: 200px
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid green;
}
.categoria-videos img:hover {
  opacity: 1.0;
}

.categoria h2 {
  color: rgb(42, 122, 228);
}
.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
body {
  color: white;
  background: black;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px;
}